In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('card_credit_fraud_Classification project Final.csv')
df.head()

,transactionId,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,0,1,PAYMENT,983964,C1231006815,170136,16029636,M1979787155,0,0,0
1,1,1,PAYMENT,186428,C1666544295,21249,1938472,M2044282225,0,0,0
2,2,1,TRANSFER,181,C1305486145,181,0,C553264065,0,0,1
3,3,1,CASH_OUT,181,C840083671,181,0,C38997010,21182,0,1
4,4,1,PAYMENT,1166814,C2048537720,41554,2988586,M1230701703,0,0,0

In [20]:
trans_type = df['type'].value_counts()
trans_type

type
CASH_OUT    366632
PAYMENT     329867
CASH_IN     218938
TRANSFER     86301
DEBIT         6475
Name: count, dtype: int64

In [19]:
plt.bar(trans_type)

TypeError: bar() missing 1 required positional argument: 'height'